.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.head {
  background: linear-gradient(180deg, #EA8D8D 0%, #A890FE 50%)
  /* #11998E → #11998E */
}

.navbar {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: aquamarine; */
  background: linear-gradient(180deg, #11998E 50%, #11998E 100%)
}
.navbar__text {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.navbar__ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.navbar__ul li a{
  text-decoration: none;
  padding: 0 15px;
  font-weight: 600;
  /* text-transform: uppercase; */
  font-size: 20px;
}


.input {
  /* padding: 20px; */
  font-size: 15px;
  width: 80%;
}
